body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  margin: 0 20px;
}

ul {
  list-style: none;
  padding: 0;
}

pre {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  margin-bottom: 10px;
  overflow: auto;
  width: auto;
  padding: 5px;
  background-color: #eee;
  max-height: 600px;
}

pre > code {
  margin: 30px;
}

a {
  text-decoration: none;
}

h2 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 5px;
}

.container {
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.introduction {
  text-align: center;
}

.example-with-image {
  display: inline-block;
  width: 200px;
  margin-right: 20px;
  vertical-align: top;
  position: relative;
}

.example-with-image .description {
  position: absolute;
  top: 200px;
}
